tsic
psutil
paho-mqtt
kivy
kivy_garden.graph

# install this manually AFTER other deps:
#https://github.com/kivy-garden/graph/archive/master.zip

# patch kivy/logger.py and comment out change of the kivy root logger like this:
#logging.root = Logger
