<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Data Logger</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Measurements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/graphs">Graphs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/service">Service</a>
      </li>
    </ul>
  </div>
</nav>